h1{
    color: blue;
    text-align: center;
}
ul{
    font-style: italic;
    color: blueviolet;
    text-indent: 10px;
}
about{
    font-style: italic;
    color: blueviolet;
}
.important{
    color: red;
    font-style: italic;
}
img{
    float: left;
}
.sidebar{
    color: royalblue;
    width: 30%;
    float: left;
    background-color: yellowgreen;
}
.column{
    width: 350px;
    float: left;
}
.test-box{
    border-left: 2px solid red;
    border-right: 4px solid blue;
    border-top: 6px solid orange;
    border-bottom: 8px solid black;

}
.test-box{
    border: 2px solid red;
    padding: 6px;
    margin: 20px;
    background-color: yellow;
}